.app-logo {
    height: 40vmin;
    pointer-events: none;
}

body {
    overflow: hidden;
}

.main-container {
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.content-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 50%;
    padding: 30px;
    border-radius: 36px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 1vw;
    p {
        font-size: 2vw;
    }
    h1 {
        font-size: 2.5vw;
    }
}

.avatar {
    border-radius: 50%;
    width: 40%;
    margin: 1vw;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkedin-btn {
    background-image: url('./assets/images/linkedin-icon.png');
    width: 5vw;
    height: 5vw;
    background-size: 66% 66%;
    background-position: center;
    background-repeat: no-repeat;
}

.resume-btn {
    background-image: url('./assets/images/CV-icon.png');
    width: 5vw;
    height: 5vw;
    background-size: 66% 66%;
    background-position: center;
    background-repeat: no-repeat;
}

.github-btn {
    background-image: url('./assets/images/github-icon.png');
    width: 5vw;
    height: 5vw;
    background-size: 100% 100%;
}
